<!DOCTYPE html>
<html ng-app='new-entity'>
<head>
    <title>New Entity</title>
    <base href='/'>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.2/lodash.min.js'></script>
    <script src='js/new.js'></script>		
	<link href='http://fonts.googleapis.com/css?family=Roboto:100,400,100italic,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/new.css'>
    <link rel='icon' type='image/png' href='img/microsoft.ico'>
    <link rel='apple-touch-icon' href='img/apple-touch-icon.png'>

</head>
<body ng-controller='homeCtrl'>

<div class="left-container col-md-4">
	<div>
		<h3>welcome to</h3>
		<img src="img/civic-hall.png" alt="civic hall">
	</div>
</div>
<div class="right-container col-md-8">
<form id="nEntityForm">
		<div id="step1">
			<h2>Add yourself to Civic Graph</h2>
			<label for="">Name</label><br>
			<input type='text' ng-model='newEntity.name' required>
			<!-- typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8'  -->
			<label for="">Where are you based?</label><br>
			<input type="text" ng-model='newEntity.location' typeahead='loc.address.formattedAddress for loc in addressSearch($viewValue)'><br>
			<div style="width:40%;float:left;display:inline;margin:0;">
			<input type="radio" ng-model='newEntity.type' value="for-profit"><p>for-profit</p><br>
			<input type="radio" ng-model='newEntity.type' value="government"><p>government</p>
			</div>
			<div style="width:40%;float:left;display:inline;margin:0;">
			<input type="radio" ng-model='newEntity.type' value="non-profit"><p>non-profit</p><br>
			<input type="radio" ng-model='newEntity.type' value="individual"><p>individual</p>
			</div>
			<button ng-click="submit()" ng-disabled='!isValid()'>submit</button>
		</div>
		<div id="step2">
			<h4>Almost done...</h4>
			<label>Tell us who you've worked with (ex: Civic Hall, TK,TK):</label><br>
			<input type="text" typeahead='entity.name as entity.name for entity in entities | filter:{name: $viewValue} | limitTo:8' ng-model='newEntity.collaborations'><br>
			<label for="" ng-model='newEntity.website' >Website</label><br><br>
			<input type="text"><br>
			<label for="" ng-model='newEntity.twitter'>Twitter</label><br><br>
			<input type="text"><br>
			<button ng-click="add()">add</button><a href="">skip</a><br>
		</div>
		<div id="step3">
			<img src="img/greenchecked.png" alt="success">
			<h2>You've been added!</h2>
			<h3>Look to see where you've been added</h3>
		</div>
	</form>
</div>



<!-- <div ng-show="mobile" class="navLogoMobile" >
<img alt="Menu" src="img/icon-hamb.png" ng-show='!settingsEnabled' ng-click='toggleSettings()' class='navButtonMob' >
<img alt="Menu" src="img/icon-chev.png" ng-show='settingsEnabled' ng-click='toggleSettings()' class='navButtonMob'  >
<img  class="logoMob" src="img/civicgraphdark.png">
<div class="logoContainer">
<img alt="Add Info" src="img/addbutton.png" class='visible-xs-block addInfoMobile' ng-hide='editing' ng-click='startEdit(null)' ></div>
</div>
    <div class='container-fluid main-container'>
        <div class='row'>
            <div id='settings' ng-show='settingsEnabled' class='col-sm-2 control-panel hidden-xs' ng-include="'partials/controls.html?i='+random"></div>
            <div ng-show='settingsEnabled && !editing' class='col-sm-2 control-panel visible-xs-block settingsmobile scroll-up' ng-class="{'mapView': template.name =='Map'}" ng-include="'partials/controlsmobile.html?i='+random"></div>
            <div ng-show='showView.Network' class='display-panel' ng-hide="editing && mobile || showView.Map" ng-class="settingsEnabled ? 'col-sm-8' : 'col-sm-10'" ng-include="'partials/network.html?i='+random"></div>
            <div ng-if='showView.Map' class='display-panel' ng-hide="editing && mobile" ng-class="settingsEnabled ? 'col-sm-8' : 'col-sm-10'" ng-include="'partials/map.html?i='+random"></div>
            <div id='details-panel' add-mobile-events class='col-sm-2 details-panel details-animate ' ng-class="{'details-panelMb': mobile}" ng-if='!editing && (clickedEntity.entity ||!mobile)' ng-show='!mobile || clickedEntity.entity' ng-controller='detailsCtrl' ng-include="'partials/details.html?i='+random"></div>
            <div class='col-sm-2 edit-panel animate-if' ng-class="{'edit-panelMb': mobile}" ng-if='editing' ng-controller='editCtrl' ng-include="'partials/edit.html?i='+random"></div>
        </div>
    </div> -->
</body>
</html>
